<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638360667643-41ss7sg2j30i02744btgrpup1r1mqd70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638360667643-41ss7sg2j30i02744btgrpup1r1mqd70</string>
	<key>API_KEY</key>
	<string>AIzaSyC_nbKh-YHdeDUuQ33n6GQ9sAaPvdGPonQ</string>
	<key>GCM_SENDER_ID</key>
	<string>638360667643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mujhtech.foodTruckLocator</string>
	<key>PROJECT_ID</key>
	<string>foodtruck-f41a8</string>
	<key>STORAGE_BUCKET</key>
	<string>foodtruck-f41a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638360667643:ios:49a0cfad472faf7a08f75e</string>
</dict>
</plist>